@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

input[type="number"],
input.offset {
    width: 2rem;
    text-align: center;
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input.offset::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
span.optional-number-sign {
    width: 0.5rem;
    margin: none;
    padding: none;
    margin-left: 0.5rem;
    margin-right: -0.2rem;
    visibility: hidden;
}

ul, li {
    list-style: none;
    padding: 0;
}

section > h1 {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

section {
    border: 1px solid black;
    border-radius: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

div.column {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    vertical-align: top;
}

article {
    width: 90%;
    margin: auto;
}

textarea {
    width: 90%;
    min-height: 8rem;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    line-height: 1rem;
    background-color: transparent;
    background-image: linear-gradient(transparent, transparent calc(1rem - 1px), #D7DFE8 0px);
    background-size: 100% 1rem;
    resize: vertical;
}

nav {
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
    padding-bottom: 0.6rem;
}

#tooltip {
    opacity: 0;
}

.fade-out {
    animation: fadeOut ease 4s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#char-categories input[type="checkbox"] {
    display: none;
}
#char-categories label {
    color: #ccc;
    font-size: 1rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
}
#char-categories input[type=checkbox]:checked + label {
    color: #26f;
}
#char-categories input[type=checkbox]:checked + label:hover {
    color: #02d;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    background-color: #fefefe;
}
.modal-content > h1 {
    margin-top: 0;
    margin-bottom: 2rem;
}

#modal-load-character .modal-content {
    width: 60%;
}
#modal-load-character input[type="checkbox"] {
    display: none;
}
#modal-load-character label {
    color: #f00;
    font-size: 1rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
}
#modal-load-character input[type=checkbox]:indeterminate + label {
    color: #ccc;
}
#modal-load-character input[type=checkbox]:checked + label {
    color: black;
}
#modal-load-character li {
    border-bottom: 1px solid gray;
}
#modal-load-character li h1 {
    font-size: 1.5rem;
    display: inline-block;
    width: 30%;
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
#modal-load-character span.details {
    display: inline-block;
    min-width: 30%;
    color: gray;
}
#modal-load-character li span.details span {
    display: inline-block;
    width: 8rem;
    margin-right: 1rem;
}
#modal-load-character li span.details span:nth-of-type(1) {
    width: 10rem;
}
#modal-load-character li span.details span:nth-of-type(2) {
    width: 4rem;
}
#modal-load-character li span.details span:nth-of-type(3) {
    width: 10rem;
}
#modal-load-character button {
    vertical-align: middle;
    margin-bottom: 6px;
}

#modal-import-character .modal-content {
    width: 24rem;
}
#modal-import-character textarea {
    background-image: none;
    width: 90%;
    height: 16rem;
    margin-left: 0;
    margin-right: 0;
    resize: none;
}

#modal-export-character .modal-content {
    width: 24rem;
}
#modal-export-character textarea {
    background-image: none;
    width: 90%;
    height: 16rem;
    margin-left: 0;
    margin-right: 0;
    resize: none;
}


#background {
    width: 100%;
    margin: auto;
    padding: 0.5rem;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0;
    margin-bottom: 1rem;
}
#background #char-name {
    width: 40rem;
    height: 2rem;
    font-size: 2rem;
    margin-top: 1rem;
    border: none;
    border-bottom: 1px solid gray;
}
#background section {
    border: none;
}
#background input[type="text"] {
    margin-right: 2rem;
}


#proficiency {
    padding-left: 2.5rem;    
    padding-top: 0.5rem;    
    padding-bottom: 0.5rem;    
}
#proficiency input[type="number"] {
    height: 2rem;
    font-size: 1.2rem;
}


#attributes {
    width: 8rem;
}
#attributes ul {
    margin-top: 0;
}
#attributes li {
    display: block;
    width: 6rem;
    border: 1px solid black;
    margin: auto;
    margin-bottom: 1.2rem;
}
#attributes label {
    display: block;
    text-align: center;
    margin-bottom: 0.5rem;
}
#attributes input[type="number"] {
    display: block;
    margin: auto;
    height: 2rem;
    font-size: 1.4rem;
}
#attributes output {
    display: block;
    text-align: center;
    width: 2rem;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}


#saving-throws {
    width: 18rem;
}
#saving-throws ul {
    width: 16rem;
    margin: auto;
    margin-bottom: 1rem;
}
#saving-throws label {
    display: inline-block;
    width: 9rem;
}
#saving-throws input[type="number"] {
    border: none;
    width: 1rem;
    border-bottom: 1px solid #ddd;
    margin-left: 0;
    margin-right: 0.5rem;
    background-color: transparent;
    padding-left: 0;
}

#skills {
    width: 18rem;
}
#skills ul {
    width: 16rem;
    margin: auto;
    margin-bottom: 1rem;
}
#skills label {
    display: inline-block;
    width: 9rem;
}
#skills input[type="number"] {
    border: none;
    width: 1rem;
    border-bottom: 1px solid #ddd;
    margin-left: 0;
    margin-right: 0.5rem;
    background-color: transparent;
    padding-left: 0;
}


#combat {
    width: 24rem;
    padding-top: 1rem;
    text-align: center;
}
#combat div {
    width: 6rem;
}
#combat label {
    display: block;
    text-align: center;
    margin-bottom: 0.5rem;    
}
#combat input[type="number"] {
    display: block;
    height: 2rem;
    font-size: 1.2rem;
    margin: auto;
}


#hit-points section {
    border: none;
}
#hit-points > div:first-child {
    border-bottom: 1px solid gray;
}
#hit-points > div > div:nth-child(1) {
    width: 55%;
}
#hit-points > div > div:nth-child(2) {
    width: 35%;
}
#hit-points input[type="text"] {
    width: 100%;
}
#hit-points input[type="number"] {
    display: block;
    margin: auto;
}
#hit-points input[type="number"]#current-hp {
    width: 2rem;
    height: 2rem;
}
#death-saves label {
    display: inline-block;
    width: 5rem;
}
#death-saves input[type="checkbox"] {
    margin: 0;
}
#death-saves .line {
    display: inline-block;
    background-image: linear-gradient(transparent calc(50% - 1px), black calc(50%), transparent calc(50% + 1px));
}


#attacks {
    width: 24rem;
}
#attacks ul {
    margin-top: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
#attacks li {
    margin-bottom: 0.5rem;
}
#attacks input.attack-name {
    width: 50%;
}
#attacks input.attack-bonus {
    width: 10%;
}
#attacks input.attack-damage {
    width: 30%;
}
#attacks button {
    display: block;
    width: 50%;
    margin: auto;
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
}


#equipment {

}


#features-traits {
    width: 24rem;
}


#proficiencies-languages {
    width: 24rem;
}